/* Variable create */
:root {
  --dark-clr: #081d2c;
  --second-dark-clr: #112e42;
  --text-clr: #f1f5f9;
  --light-text-clr: #c9d9e8;
  --global-clr: #0fbbff;
  --btn-clr: #ff499e;
}
/* general reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
html {
  overflow-x: hidden;
  line-height: calc(1em + 0.5rem);
}
body {
  background: var(--dark-clr);
  color: var(--text-clr);
  line-height: 1.3;
}
header {
  width: 100%;
  background: transparent;
  z-index: 1000;
  padding: 1.5rem 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10%;
}
.logo {
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-clr);
}
.logo span {
  color: var(--global-clr);
}
/* navigation manu */
.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  position: relative;
}
header .navbar ul li {
  position: relative;
  margin-right: 20px;
}
header .navbar ul li a{
  position: relative;
  margin-right: 20px;
  font-weight: 500;
  margin-left: 20px;
  color: var(--text-clr);
}
header .navbar ul li a::after {
  content: '';
  position: absolute;
  background: var(--global-clr);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -2px;
  pointer-events: none;
  transition: .3s;
}
.navbar ul li a:hover, .navbar ul li a.active {
  color: var(--global-clr);
}
header .navbar ul li a:hover::after, header .navbar ul li a.active::after {
  width: 100%;

}
.cvbtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: var(--btn-clr);
  color: var(--text-clr);
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--btn-clr);
  cursor: pointer;
  transition: .5s;
}
.cvbtn:hover {
  box-shadow: 0 0 5px var(--btn-clr),
              0 0 10px var(--btn-clr),
              0 0 15px var(--btn-clr);
}

